@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --font-gold: "Goldman", sans-serif;
    --font-pop: "Poppins", sans-serif;
    --font-audio: "Audiowide", sans-serif;

    --color-accent:#00BF8F;

    
}

html {
  scroll-behavior: auto;
}

body {
  overscroll-behavior: none;
}

.buttonbefore::before{
  content: "→";
  position: absolute;
  background-color: #00BF8F;
  height: 100%;
  top: 0;
    right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 3rem;
}